* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

.sidebar {
  background: rgb(16, 26, 96);
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  font-size: 18px;
  line-height: 0;
}

.hide {
  display: none;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link-container {
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  color: white;
  gap: 12px;
  padding: 8px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-decoration: none;
  width: 100%;
  align-items: center;
}

.link:hover,
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link_text {
  white-space: nowrap;
  font-size: 12px;
}

.new-button {
  background-color: #4caf50;
  color: #fff;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90px;
}

.thin-line {
  border: none;
  border-top: 0.1px solid #ccc;
  margin: 5px 0;
  width: 100%;
}
